<%= form_with(url: category_payments_path(params[:category_id]), model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-center form-payment">
  <%= form.label :name, style: "display: block" %>
  <%= form.text_field :name %>
</div>

<div class="d-flex justify-content-center form-payment">
  <%= form.label :amount, style: "display: block" %>
  <%= form.number_field :amount %>
</div>

<div class="d-flex justify-content-center pt-3 form-payment">
  <%= form.label :category_id, "Category ID" %>
  <% category = Category.where(id: params[:category_id]) %>
  <%= form.collection_select :category_id, category, :id, :name, prompt: true %> 
</div>

<div class="d-flex justify-content-center form-payment btn btn-success w-100 text-center">
  <%= form.submit "Create Payment", class: "btn btn-outline-light" %>
</div>
<% end %>
